* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    max-width: 856px;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

main, header, article, aside, nav, footer, section {
    border: 1px solid gray;
    padding: 10px;
}

header {
    width: 100%;
    flex: 0 0 100%;
}

nav {
    width: 20%;
    flex: 0 0 20%;
}

article {
    background-color: lightblue;
    width: 60%;
    flex: 0 0 calc(60% - 20px);
}

aside {
    background-color: rgb(200, 230, 173);
    width: 20%;
    flex: 0 0 20%;
}

nav {
    background-color: rgb(200, 230, 173);
}

footer {
    width: 100%;
    flex: 0 0 100%;
}

/*dobozok elrendezése*/
article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

section {
    flex: 0 0 20%;
}

section:nth-child(2) {
    order: -1;
}